@import "bootstrap/scss/bootstrap";

.has-img-bg {
    background-image: url("@/assets/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}